<div id="error-container">
<% if model.errors.any? %>
<div class="ui error icon message">
  <i class="frown icon"></i>
	<i class="close icon"></i>
  <div class="content">
    <div class="header">Oops!</div>
      <ul class="list">
        <% model.errors.each do |field,message| %>
          <li><strong><%= field %></strong>&nbsp;<%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
</div>