#events_count_number {
    font-size: 50px;
}

#power_prediction_graph {
    font-size: 50px;
	color: #336699;
}
span.power_prediction_graph {
	font-size: 24px;
	color: #336699;
	padding-top: 24px;
    display: none;
}

#sensor_filter_div {
	float: right;
}

.dc-chart g.row text {
    fill: black;
    font-size: 11px;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.x-axis-label, .y-axis-label {
	font-size: 11px;
	color: #336699;
}

#sensing_time_chart_insufficient {
	display: none;
}

/* Chart Sizes */
#sensing_power_time_chart {
	min-height: 185px;
	min-width: 600px;
}
#sensing_power_time_range {
	min-height: 45px;
	min-width: 600px;
}
#events_count_number {
	min-height: 71px;
}
#power_prediction_graph {
	min-height: 71px;
}
#top_acc_power_bar {
	min-height: 255px;
	min-width: 300px;
}
#top_monthly_power_bar {
	min-height: 255px;
	min-width: 300px;
}
#monthly_power_bar {
	min-height: 430px;
	min-width: 600px
}
#sensing_time_chart {
	min-height: 405px;
}
#sensing_time_range {
	min-height: 55px;
}