<% if @pinned_modules.any? %>
  <div class="ui header dqr colored">
    <i class="icon pin"></i>
    Pinned Devices
  </div>
  <div class="ui list">
     <% @pinned_modules.each do |m| %>
      <%= render partial: 'device_modules/module', locals:{ m: m} %>
    <% end %>
  </div>
<% else %>
  <div class="ui message">
    <div class="header">
      Show your favourites here
    </div>
    <p>Pin your favorite modules here, and see whats happening just in one touch</p>
  </div>
<% end %>
