<h1><%= @ambience.name %></h1>

<table class="ui table unstackable">
  <thead>
    <tr>
      <th>Device Name</th>
    </tr>
  </thead>
  <tbody>
    <% @ambience.devices.each do |a| %>
      <tr>
        <td><% a.name %></td>
      </tr>
    <% end %>
    <% if @ambience.devices.none? %>
      <tr>
        <td>No devices here!</td>
      </tr>
    <% end %>
  </tbody>
</table>