/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 * require_tree .
 * site
 * require_self
 */
@import "semantic-ui";
$import-google-fonts: false !default;

@import "chartist/chartist";

/* overrides */
.top.menu, 
.menu, 
.segment, 
.accordion, 
.table, 
.button,
.dropdown,
.input{
    border-radius:0 !important;
}
div.vertical-center{
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  >div{
    display: table-cell;
    vertical-align: middle;
    >div{
      margin-left: auto;
      margin-right: auto;
      width: 350px;
    }
  }
}

$primary-color: #0b7542;
$primary-border: rgba(34,36,38,0.15);

.primary{
  background-color:$primary-color !important;
  color: white !important;
}

.main-link{
  color:$primary-color !important;
}

.ui.dropdown.compact{
  width:auto !important;
}

[data-role="container"]{
  background-color: #FAFAFA !important;
}

[data-role="segment-header"]{
  border-bottom: 3px solid $primary-color !important;
}

[data-role="segment-content"]{
  background-color: white !important;
}

.ui.timeline{
  @extend .segment;
  overflow-x:scroll;
  overflow-y:hidden;
  padding:0;
}
.ui.timeline ul{
  padding:0;
  margin:0 0 0 0;
  display: flex;
  min-width: 768px;
  min-height:1.5em;
  box-sizing:border-box;
  position:relative;
  width:100%;
}
.ui.timeline ul li{
  display:inline-block;
  height:100% !important;
  position: absolute;
  box-sizing:border-box;
}

.ui.timeline .mark{
  width:4%;
  border-right:1px solid $primary-border;
  color:black;
  font-family:"Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  font-size: 0.82857143em;
  font-weight: bold;
}

.ui.timeline .scale .mark:last-of-type{
  border-right: none;
}
.ui.timeline .event-detail{
  height: 100%;
  width:100%;
  position:absolute;
}

.ui.timeline .event{
  background-color:gainsboro;
}
.ui.timeline .event.selected{
  background-color: $primary-color;
}

.ui.table caption{
  padding: 0.5em;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: #e4e4e4;
  font-weight: bold;
}

.ui.toggle.checkbox label::before{
  background-color:rgba(0,0,0,0.15);
}
.ui.hidden.segment{
  display:none;
}
