default: &default
  host: localhost
  encoding: utf8
  adapter: mysql2
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: ratio_dev
  username: ratio_dev
  password: ratio_dev

test:
  <<: *default
  database: ratio_test
  username: ratio_test
  password: ratio_test_password

staging:
  <<: *default
  database: ratio_staging
  username: ratio_staging
  password: ratio_staging_password

production:
  <<: *default
  database: ratio_prod
  username: root
  password: MysqlR00t01
