<h1>Last Logs</h1>
<table class="table">
  <thead>
  <tr>
    <th>Log Id</th>
    <th>Time</th>
    <th>Device</th>
    <th>Sensor</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @logs.each do |l| %>
    <tr>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>