<tr data-module-id="<%= f.id %>">
  <td><%= device_module_name(f) %></td>
  <td>
    <div class="ui toggle checkbox">
      <input type="checkbox" value="0" name="include" />
      <label></label>
    </div>
  </td>
  <td>
    <div class="ui toggle checkbox">
      <input type="checkbox" value="0" name="status" />
      <label></label>
    </div>
  </td>
</tr>