{% include 'header_inc.html' %}

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Power Consumption Timeline
              </div>
              <div class="chart-stage">
                <div id="sensing_power_time_chart"></div>
				<div id="sensing_power_time_range"></div>
              </div>
              <div class="chart-notes">
                Displays the power consumption for the selected modules within the specific month or time range
              </div>
            </div>
          </div>

		  <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Current Power Consumption
              </div>
              <div class="chart-stage">
                <div id="top_acc_power_bar"></div>
              </div>
              <div class="chart-notes">
                Modules that are currently consuming most of the power this month
              </div>
            </div>
          </div>
		  
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average Power Consumption
              </div>
              <div class="chart-stage">
                <div id="top_monthly_power_bar"></div>
              </div>
              <div class="chart-notes">
                Modules with the greatest average power consumption filtered by Month
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Monthly Power Consumption
          </div>
          <div class="chart-stage">
            <div id="monthly_power_bar"></div>
          </div>
          <div class="chart-notes">
            Power consumption timeline for all modules since last year
          </div>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Power Consumption Prediction
          </div>
          <div class="chart-stage">
            <div id="power_prediction_graph"></div><span class="power_prediction_graph">&nbsp;KWatt/h</span>
          </div>
          <div class="chart-notes">
            Monthly Power Consumption prediction for modules
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Events
          </div>
          <div class="chart-stage">
            <div id="events_count_number"></div>
          </div>
          <div class="chart-notes">
            Number of events read for current visualisation
          </div>
        </div>
      </div>

    </div>

{% include 'footer_inc.html' %}

  <script src='./static/js/dqr_power_charts.js' type='text/javascript'></script>

{% include 'footer2_inc.html' %}