    <div class="row">

      <div class="col-sm-12">
	  <div class="alert alert-danger" id="sensing_time_chart_insufficient">Insufficient Data to display</div>
        <div class="chart-wrapper">
          <div class="chart-title">
                <script>echo sensor_name;</script> Sensing Data
				<div id="sensor_filter_div">
					<select id="sensing_time_select_mod" class="selectpicker">
					</select>
				</div>
          </div>
          <div class="chart-stage">
            <div id="sensing_time_chart"></div>
			<div id="sensing_time_range"></div>
           </div>
        </div>
      </div>
	  <!--
	  <div class="col-sm-12">
		<div class="chart-wrapper">
		  <div class="chart-title">
			Luminosity Sensing Data Measures
		  </div>
		  <div class="chart-stage">
			<div id="sensing_data_table"></div>
		  </div>
		</div>
	  </div>
		-->
    </div>
