<div class="ui header dividing teal" data-behavior="settings"
  data-graph-refresh-interval="<%= @preferences.graphic_refresh_interval %>"
  data-graph-interval="<%= @preferences.graphic_interval %>">
  <%= @device.name %> Status
</div>
<% @device.modules.each do |m| %>
   <%= render partial:'device', locals: {m: m} %>
  <br />
<% end %>
  